@using HR_Project.Entities.Entities;
@model User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";

}

<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<section style="padding: 0;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div style="margin-top:20px; height:400px;" class="card-body text-center">
                        <img src="@Model.Photo" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 style="font-weight:bold" class="my-3">@Model.FirstName @Model.FirstName2 @Model.LastName @Model.LastName2</h5>
                        <p class="text-muted mb-1">@Model.Job.JobName</p>
                        <p class="text-muted mb-4">@Model.Address</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button data-toggle="modal" data-target="#detailModal" type="button" class="btn btn-warning">Details</button>
                            <a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="UserUpdate" asp-route-id="@Model.ID" type="button" class="btn btn-primary ms-4">Update</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body" style="margin-top:20px; height:400px;">
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">First Name</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.FirstName2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Last Name</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.LastName @Model.LastName2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Email</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Phone</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@string.Format("{0:0(###) ###-####}", double.Parse(Model.PhoneNumber))</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Address</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Job</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Job.JobName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row les">
                            <div class="col-sm-3 spec">
                                <p class="mb-0 difcol">Department</p>
                                <p class="difcol">:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Department.DepartmentName</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<style>
    .modalHeight {
        height: 34px;
    }

    .difcol {
        color: darkblue;
        font-weight: bold;
    }

    .spec {
        display: flex;
        justify-content: space-between
    }

    .les {
        height: 15px;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Employee Detail</h4>
            </div>
            <div class="modal-body">
                <div style="flex; align-items:center; margin-left:308.5px; ">
                    <img src="@Model.Photo" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                </div>
                <div class="card mb-4">
                    <div class="card-body" style="margin-top:20px; height:400px;">
                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.FirstName2</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.LastName @Model.LastName2</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Birthdate</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" type="date" data-date="" data-date-format="DD MMMM YYYY">@Model.Birthdate</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Birth Place</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.BirthPlace</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Job</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Job.JobName</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Company Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Company.CompanyName</p>
                            </div>
                        </div>

                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Department</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Department.DepartmentName</p>
                            </div>
                        </div>


                        <div class="row modalHeight">
                            <div class="col-sm-3">
                                <p class="mb-0">Start Date Of Work</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.StartDateOfWork</p>
                            </div>
                        </div>
                        @if (Model.IsActive)@*Projenin devamında aktiflik durumuna göre çıkış tarihi gösterile bilir şu an 1 kullanıcı var oda aktif olduğu için her türlü görünecek*@
                        {
                            <div class="row modalHeight">
                                <div class="col-sm-3">
                                    <p class="mb-0">Dismissal Date</p>
                                </div>
                                <div class="col-sm-9">

                                    <p class="text-muted mb-0">Working</p>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row modalHeight">
                                <div class="col-sm-3">
                                    <p class="mb-0">Dismissal Date</p>
                                </div>
                                <div class="col-sm-9">

                                    <p class="text-muted mb-0">@Model.DismissalDate</p>

                                </div>
                            </div>
                        }

                    </div>
                </div>
                @*MODAL BODYSİ BURAYA  /////////////////////////////////////////////////////////////////*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->