@model List<User>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";
    int counter = 1;
    string status = null;
}
<style>
    .table img {
        max-width: 50px; /* Maksimum genişlik */
        max-height: 50px; /* Maksimum yükseklik */
        object-fit: cover; /* Orantılı olarak fotoğrafı sığdır */
        border-radius: 50%; /* Yuvarlak kenarlıklar */
    }

    th {
        font-size: 12px;
        font-weight: bold;
    }

    td {
        font-size: 13px;
    }

    .pclass {
        margin-top: 30px;
    }

    .normalTd {
        margin-top: -5px;
    }
</style>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .pagination li {
                margin: 0 5px;
            }

                .pagination li a {
                    color: black;
                    text-decoration: none;
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }

                    .pagination li a.active {
                        background-color: #ccc;
                    }

                    .pagination li a:hover {
                        background-color: #f5f5f5;
                    }
    </style>
    <style>
        .modalHeight {
            height: 34px;
        }

        .difcol {
            color: darkblue;
            font-weight: bold;
        }

        .spec {
            display: flex;
            justify-content: space-between
        }

        .les {
            height: 15px;
        }
    </style>

    <section style="width:100%; height:100%; padding: 0;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th><small>#</small></th>
                                    <th><small>Photo</small></th>
                                    <th><small>Firstname</small></th>
                                    <th><small>LastName</small></th>
                                    <th><small>Email</small></th>
                                    <th><small>Address</small></th>
                                    <th><small>Phone Number</small></th>
                                    <th><small>StartDateOfWork</small></th>
                                    <th><small>Job</small></th>
                                    <th><small>Department</small></th>
                                    <th><small>Status</small></th>
                                    <th><small>Employee Operations</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (User item in Model)
                                {
                                    if (item.IsActive)
                                    {
                                        status = "Active";
                                    }
                                    else
                                    {
                                        status = "Passive";
                                    }
                                    <tr>
                                        <td><p class="pclass">@counter</p></td>
                                        <td class="normalTd"><img src="@item.Photo" alt="Profile" class="rounded-circle" /></td>
                                        <td><p class="pclass">@item.FirstName @item.FirstName2</p></td>
                                        <td><p class="pclass">@item.LastName @item.LastName2</p></td>
                                        <td><p class="pclass">@item.Email</p></td>
                                        <td><p class="pclass">@item.Address</p></td>
                                        <td><p class="pclass">@item.PhoneNumber</p></td>
                                        <td><p class="pclass">@item.StartDateOfWork.ToShortDateString()</p></td>
                                        <td><p class="pclass">@item.Job.JobName</p></td>
                                        <td><p class="pclass">@item.Department.DepartmentName</p></td>
                                        <td><p class="pclass">@status</p></td>
                                        <td><a data-toggle="modal" data-target="@("#detailModal" + counter.ToString())" class="btn btn-sm btn-secondary py-0">Details</a><br /><a asp-action="UserUpdate" asp-controller="CompanyManagerHome" asp-route-id="@item.ID" style="margin-top:13px;" class="btn btn-sm btn-info py-0">Update</a><br /><a asp-action="UserRemove" asp-controller="CompanyManagerHome" asp-route-id="@item.ID" style="margin-top:13px;" class="btn btn-sm btn-dark py-0">Remove</a></td>
                                    </tr>

                                    <div class="modal fade" tabindex="-1" role="dialog" id="@("detailModal" + counter.ToString())">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Employee Detail</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div style="flex; align-items:center; margin-left:308.5px; ">
                                                        <img src="@item.Photo" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                                    </div>
                                                    <div class="card mb-4">
                                                        <div class="card-body" style="margin-top:20px; height:400px;">
                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">First Name</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.FirstName @item.FirstName2</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Last Name</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.LastName @item.LastName2</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Birthdate</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.FormattedBirthdate</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Birth Place</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.BirthPlace</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Email</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.Email</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Phone</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.PhoneNumber</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Address</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.Address</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Job</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.Job.JobName</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Company Name</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.Company.CompanyName</p>
                                                                </div>
                                                            </div>

                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Department</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.Department.DepartmentName</p>
                                                                </div>
                                                            </div>


                                                            <div class="row modalHeight">
                                                                <div class="col-sm-3">
                                                                    <p class="mb-0">Start Date Of Work</p>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p class="text-muted mb-0">@item.StartDateOfWork.ToShortDateString()</p>
                                                                </div>
                                                            </div>
                                                            @if (item.IsActive)@*Projenin devamında aktiflik durumuna göre çıkış tarihi gösterile bilir şu an 1 kullanıcı var oda aktif olduğu için her türlü görünecek*@
                                                            {
                                                                <div class="row modalHeight">
                                                                    <div class="col-sm-3">
                                                                        <p class="mb-0">Dismissal Date</p>
                                                                    </div>
                                                                    <div class="col-sm-9">

                                                                        <p class="text-muted mb-0">Working</p>

                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="row modalHeight">
                                                                    <div class="col-sm-3">
                                                                        <p class="mb-0">Dismissal Date</p>
                                                                    </div>
                                                                    <div class="col-sm-9">

                                                                        <p class="text-muted mb-0">@item.DismissalDate</p>

                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    @*MODAL BODYSİ BURAYA  /////////////////////////////////////////////////////////////////*@
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>

                                    <!-- /.modal -->
                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

</body>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            pageLength: 6,
            lengthMenu: [[6, 10, 20, -1], [6, 10, 20, 'Todos']]
        });
    });
</script>


</html>



